.body {
    height: 100%;
    width: 100%;
    .comment {
        display: flex;
        height: 20rem;
        flex-grow: 1;
        overflow: scroll;
        flex-direction: column;
    }
}

vg-player > vg-scrub-bar:hover,
vg-player > vg-scrub-bar:hover vg-scrub-bar-current-time,
vg-player > vg-scrub-bar:hover vg-scrub-bar-buffering-time
{ height: 20px; transition: height 0.5s; }

vg-player > vg-scrub-bar, vg-scrub-bar-current-time, vg-scrub-bar-buffering-time { transition: height 0.5s; }

vg-player > vg-scrub-bar { background: rgba(255, 255, 255, 0.5)}